h1 {
    font-size: 30px;
    text-transform: uppercase;
}
p {
    color: red;
    font-family: sans-serif;
}
.page-wrapper #hero p {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    box-shadow: -1px 0px 20px 11px #00000029;
    transform: rotate(357deg);
}
